@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: rgb(17 24 39);
  color: white;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;

  /* scrollbar-width: thin; */
  /* scrollbar-color: #888 #f1f1f1; */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(17 24 39);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
  background: #fffdfd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Width of the scrollbar
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;

/* Handle on hover */
/* scrollbar-color: #555 #f1f1f1; */

/* Standard properties */
/* scrollbar-width: thin; */
/* scrollbar-color: #888 #f1f1f1; */

/* Handle on hover */
/* scrollbar-color: #555 #f1f1f1; */

/* li>ul                 { transform: translatex(100%) scale(0) }
li:hover>ul           { transform: translatex(101%) scale(1) }
li > button svg       { transform: rotate(-90deg) }
li:hover > button svg { transform: rotate(-270deg) }


.group:hover .group-hover\:scale-100 { transform: scale(1) }
.group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
.scale-0 { transform: scale(0) }
.min-w-32 { min-width: 8rem } */
