@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: rgb(17 24 39);
  color: white;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;

  /* scrollbar-width: thin; */
  /* scrollbar-color: #888 #f1f1f1; */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(17 24 39);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #fffdfd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* @media (min-width: 1024px) {
  #hamburgerIcon {
    display: hidden;
  }
} */
